@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cell {
    width: 50px;
    height: 50px;
    border: transparent;
    border-radius: 999px;
}

.fill {
    background-color: #f6f6f6;
}

.fruit {
    background-color: #D71921;
}

/* Toggle switch slider movement */
.toggle-slider {
    left: calc(50% - 13.5px - 10px);
    top: calc(50% - 13.5px);
}

.toggle-checkbox:checked + .toggle-label .toggle-slider {
    left: calc(50% - 13.5px + 10px);
    top: calc(50% - 13.5px);
}

/* Hide scrollbar */
.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}